<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <p>Gmail API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;"></pre>

    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '920712362291-3a8ig6i8gjs3spn1gsaeccjvlebcn28s.apps.googleusercontent.com';
      var API_KEY = 'AIzaSyAc0AURLYY6k-aj2tbzHy7YO_TyIc_BnwY';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = 'https://www.googleapis.com/auth/gmail.readonly';

      var authorizeButton = document.getElementById('authorize_button');
      var signoutButton = document.getElementById('signout_button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          apiKey: API_KEY,
          clientId: CLIENT_ID,
          discoveryDocs: DISCOVERY_DOCS,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        }, function(error) {
          appendPre(JSON.stringify(error, null, 2));
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'block';
          listMessages();
        } else {
          authorizeButton.style.display = 'block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      /**
       * Append a pre element to the body containing the given message
       * as its text node. Used to display the results of the API call.
       *
       * @param {string} message Text to be placed in pre element.
       */
      function appendPre(message) {
        var pre = document.getElementById('content');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
      }

      function decode(encoded){
        return new Promise((resolve, reject) => {        
          let xhr = new XMLHttpRequest();
          let formData = new FormData();

          formData.append("data", encoded)
          xhr.open("post", "/decodeData");

          xhr.onload = function(){
            resolve(this.responseText);
          }

          xhr.send(formData);

        });
      }

      function getMessage(id){
        return new Promise((resolve, reject) => {

          gapi.client.gmail.users.messages.get({
            'userId':"me",
            'id':id,
          }).then(response => {
            let message = JSON.parse(response.body);
            try{
              message = message.payload.parts[0].body.data;
            }
            catch{
              message = message.payload.body.data;
            }

            message = decode(message);

            resolve(message);
          });

        });
      }

      function getMessageList(){
        return new Promise((resolve, reject) => {
          gapi.client.gmail.users.messages.list({
            'userId': 'me',
            'maxResults': 1,
          }).then(function(response) {
            let messagesBody = JSON.parse(response.body)
            let messageId = messagesBody.messages[0].id;

            resolve(messageId);

          });

        })
        
      }
 
      function sendSms(sms_body){
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        formData.append("sms_body", sms_body);

        xhr.open("post", "/sendSms");

        xhr.onload = function(){
          console.log("Message sent successfully with the sid : ", this.responseText)
        }

        xhr.send(formData);
      }

      /**
       * Print all Labels in the authorized user's inbox. If no labels
       * are found an appropriate message is printed.
       */
      let currentOne = null;
      let currentSet = false;

      function listMessages() {

        console.log("Getting messages list...");

        console.log("Tracking for inbox changes.....")


        setInterval(() => {
          getMessageList().then(id => {
            if (currentSet == false){
              currentOne = id;
              currentSet = true;
            }

            if (currentOne == id){
              console.log("No changes detected (:");
            }

            else{
              currentOne = id;
              console.log("New message arrived!... --> :) :) :)");
              getMessage(id).then(message => {
                console.log(message);
                sendSms(message);
              });
            }

          });
        }, 10000);

      }

    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

  </body>
</html>